*{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    font-family: 'Lato', sans-serif;
}

html{
    font-size: 6.25%;
}

body{
    overflow-x: scroll;
    overflow-y: scroll;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200rem;
    padding-right: 200rem;
    min-height: 8vh;
}

.rightSide{
    display: flex;
    /* justify-content: space-around; */
}

.logo{
    color: #FF8000;
    text-transform: uppercase;
    letter-spacing: 5rem;
    font-size: 20rem;
}

.location{
    color: #3D4152;
    padding-left: 16rem;
    font-size: 16rem;
}

.nav-link{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.nav-link li a:hover{
    color: orange;
}

.nav-link li{
    list-style: none;
}

.nav-link li a{
    color: #3D4152;
    text-decoration: none;
    letter-spacing: 2rem;
    /* font-weight: bold; */
    font-size: 16rem;
}

.breadCrumbs{
    display: flex;
    color: #93959f;
    padding-left: 200rem;
    padding-right: 200rem;
    height: 30rem;
    font-size: 13rem;
    /* background-color: #282c3f; */
    background-color: #F5F5F5;
    align-items: center;
}

.breadCrumbs .dark{
    color: #3D4152;
    padding-left: 5rem;
}

.details{
    display: flex;
    background-color: rgb(0, 0, 0);
    min-height: 250rem;
    padding-left: 200rem;
    padding-right: 200rem;
}

.details .image{
    padding-top: 40rem;
    padding-bottom: 40rem;
}

.image img{
    width: 250rem;
    height: 165rem;
}

.details .name {
    color: #FFFFFF;
    font-size: 32rem;
    font-weight: lighter;
}

.dashbroad{
    padding: 40rem 50rem 40rem 50rem;
    min-width: 600rem;
}

.dashbroad .typeOfFood{
    color: #A0A0A0;
    padding: 13rem 0 0 0;
    font-size: 16rem;
}

.dashbroad .landmark{
    color: #A0A0A0;
    padding: 13rem 0 0 0;
    font-size: 13rem;
}

.otherDetails{
    padding: 16rem 0 0 0;
    display: flex;
}

.r1{
    color: #FFFFFF;
    padding: 5rem 0 8rem 0;
    float: left;
    font-size: 16rem;
}

.r2{
    color: #A0A0A0;
    float: left;
    clear: left;
    font-size: 13rem;
}

.rating{
    padding-right: 15rem;
}

.time{
    padding: 0 15rem 0 15rem;
}

.cost{
    padding: 0 15rem 0 15rem;
}

/* .offer{
    padding: 40rem 50rem 40rem 50rem;
    font-size: 30rem;
} */

.offer-padding{
    width: 298px;
    padding: 74px 0 48px;
    height: 100%;
}

.offer{
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateZ(0);
    transition: transform .2s ease-in-out;
    /* border: 1px solid #bec0c8; */
    position: relative;
}

.offer .name{
    background-color: #000000;
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    position: absolute;
    top: -13px;
    left: -6px;
}

.list{
    color: #DEDEDE;
    padding: 30rem 30rem 30rem 30rem;
}

.list li{
    list-style: none;
    font-size: 14rem;
    padding: 5rem 0 0 5rem;
}

.searchbar-and-checkboxes{
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.searchbar-and-checkboxes-1{
    display: table;
    color: #3d4152;
    font-weight: 500;
    height: 40px;
    font-size: 14px;
    position: absolute;
    bottom: 50px;
    width: 538px;
    transform: translate3d(0,72px,0);
    transition: transform .2s ease-in-out;
    pointer-events: auto;
    left: 250px;
}

.searchbar-and-checkboxes-1 .favourite{
    float: right;
    display: table;
    table-layout: fixed;
    box-shadow: 0 3px 15px 0 rgb(40 44 63 / 10%);
    border: 1px solid rgba(0,0,0,.04);
    height: 40px;
    background-color: #fff;
    margin-right: 22px;
}

.searchbar-and-checkboxes-1 .favourite .name{
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
    font-weight: 600;
    text-transform: capitalize;
    transition: color .2s ease-in-out;
    will-change: color;
}

.searchbar-and-checkboxes-1 .favourite .name:hover{
    color: red;
}

.searchbar-and-checkboxes-1 .favourite .checkbox-div{
    display: table-cell;
    vertical-align: top;
    padding-top: 11px;
    text-align: right;
    width: 41px;
}

.searchbar-and-checkboxes-1 .favourite .checkbox-div label{
    margin-right: 10px;
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
    cursor: default;
}

.searchbar-and-checkboxes-1 .veg-or-nonveg{
    float: right;
    display: table;
    table-layout: fixed;
    box-shadow: 0 3px 15px 0 rgb(40 44 63 / 10%);
    border: 1px solid rgba(0,0,0,.04);
    height: 40px;
    background-color: #fff;
    margin-right: 22px;
}

.searchbar-and-checkboxes-1 .veg-or-nonveg .checkbox-div{
    display: table-cell;
    vertical-align: top;
    padding-top: 11px;
    text-align: right;
    width: 41px;
}
.searchbar-and-checkboxes-1 .veg-or-nonveg .checkbox-div label{
    margin-right: 10px;
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
    cursor: default;
}

.searchbar-and-checkboxes-1 .veg-or-nonveg .name{
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
    text-transform: capitalize;
    font-weight: 600;
    transition: color .2s ease-in-out;
    will-change: color;
}

.searchbar-and-checkboxes-1 .veg-or-nonveg .name:hover{
    color: green
}

/* .searchbar-and-checkboxes-1 .checkbox{
    padding: 10px 10px 10px 10px;
} */

.searchbar-and-checkboxes-1 .searchbar{
    width: 240px;
    display: table;
    table-layout: fixed;
    box-shadow: 0 3px 15px 0 rgb(40 44 63 / 10%);
    border: 1px solid rgba(0,0,0,.04);
    height: 40px;
    background-color: #fff;
}

.searchbar-and-checkboxes-1 .searchbar .searchbar-1{
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    height: 100%;
}

.searchbar-and-checkboxes-1 .searchbar .searchbar-1 input{
    display: inherit;
    padding-left: 20px;
    border: none;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    vertical-align: middle;
    width: 80%;
    height: 22px;
    line-height: 22px;
    font-weight: 600;
    position: relative;
    top: -1px;
    caret-color: #fc8019;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
}

.menuAndCart{
    display: flex;
    padding-left: 200rem;
    padding-right: 200rem;
    padding-top: 50rem;
}

.menuAndCart .category{
    min-width: 250rem;
    max-width: 250rem;
}

.menuAndCart .category li{
    list-style: none;
    text-align: right;
    padding: 3rem 10rem 3rem 0rem;
}

.menuAndCart .category li a:hover,
.menuAndCart .category li a:focus
{
    color: orange;
}

.menuAndCart .category li a{
    text-decoration: none;
    color: #808080;
    font-size: 15rem;
}

/* .menuAndCart .category .sideColor{
    position: absolute;
    display: inline-block;
    left: 250px;
    top: 35px;
    width: 4px;
    height: 18px;
    background: #fc8019;
    z-index: 1;
} */

.menuAndCart .items{
    padding: 0 50rem 0 50rem;
    width: 600rem;
}

.items{
    height: 70vh;
    overflow-y: scroll;
}

.name .n{
    color: #3D3C3C;
    font-weight: bold;
    font-size: 30rem;
    /* float: left; */
}

.name .i{
    /* float: left; */
    color: #686b78;
    clear: left;
    padding: 10rem 0 0 0;
    font-size: 16rem;
}

.listItems hr{
    background-color: #d4d5d9
}

.listItems .singleItem{
    display: flex;
    padding: 35rem 0 35rem 0;
    font-size: 16rem;
    /* height: 1000rem; */
}

.listItems .singleItem .left{
    justify-content: flex-start;
}

.listItems .singleItem .right{
    justify-content: flex-end;
}

.listItems .singleItem .vegORnonveg{
    /* padding: 5rem 0 0 0; */
    color: green;
}

.listItems .singleItem .foodName{
    padding: 10rem 0 0 0;
    color: #282c3f;
}

.listItems .singleItem .foodPrice{
    padding: 10rem 0 0 0;
    color: #282c3f;
}

.listItems .singleItem .combo{
    padding: 10rem 0 0 0;
    color: rgba(40,44,63,.45);
}

.listItems .singleItem .right{
    padding: 0 0 0 175rem;
    justify-content: flex-end;
}

.listItems .singleItem .image img{
    width: 100rem;
    height: 84rem;
    border-radius: 10rem;
}

.listItems .singleItem .right button{
    color: #60b246;
    margin-top: 10rem;
    width: 100rem;
    height: 30rem;
    border-color: #d4d5d9;
    background-color: white;
    border-radius: 5rem;
    cursor: pointer;
    /* box-shadow: 3rem 3rem rgba(40,44,63,.30); */
}

.line{
    border-bottom: 0.5rem solid #d4d5d9;
    height: 1rem;
    padding: 0 12rem;
    margin: 20rem 0;
}

.add:hover{
  box-shadow: 3rem 3rem rgba(40,44,63,.30);
  /* transform: translateY(-0.25em); */
}

.cart{
    padding: 0 0 0 50rem;
}

.cart .cart_name .cart1{
    color: #3D3C3C;
    font-size: 30rem;
    font-weight: bold;
}

.cart .cart_name .cart2{
    color: #686b78;
    clear: left;
    padding: 10rem 0 0 0;
    font-size: 16rem;
}

.cart .cart_items .cart_item{
    display: flex;
    padding: 35rem 0 0 0;
}

.cart .cart_items .cart_item .cart_vegORnonveg{
    color: green;
}

.cart .cart_items .cart_item .dishName{
    padding: 0 30rem 0 5rem;
}

.cart .cart_items .cart_item .price{
    float: right;
    padding: 0 0 0 5rem;
}

.cart .cart_items .cart_item .addSub{
    display: flex;
    margin: 0 20rem 0 10rem;
    border: 1rem solid #d4d5d9;
    width: 70rem;
}

.cart .cart_items .cart_item .addSub .minus
{
    padding: 4rem 10rem 4rem 10rem;
    cursor: pointer;
}

.cart .cart_items .cart_item .addSub .count{
    padding: 4rem 4rem 4rem 4rem;
}

.cart .cart_items .cart_item .addSub .plus{
    padding: 4rem 4rem 10rem 10rem;
    cursor: pointer;
}

.cart .subTotal{
    display: flex;
    padding: 30rem 0 0 0;
    font-size: 16rem;
    /* justify-content: center; */
}

.cart .subTotal .price{
    color: #3d4152;
    padding-left: 150rem;
    font-size: 16rem;
    font-weight: 600;
}

.cart .subTotal .sub .s1{
    color: #3d4152;
    font-weight: 600;
}

.cart .subTotal .sub .s2{
    color: #7e808c;
    font-size: 13rem;
    font-weight: 300;
    margin: 2rem 0 0 0;
}

.cart .checkout{
    padding: 30rem 0 0 0;
}

.cart .checkout .button{
    height: 50rem;
    background-color: green;
    outline: 0;
    cursor: pointer;
    border: 0;
    color: #fff;
    margin-top: 28rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16rem;
    font-weight: 600;
    width: 100%;
}

.cart .checkout button:hover{
    box-shadow: 5rem 5rem rgba(54,223,29,.50);
}

.cart .cart_items .cart_item{
    font-size: 14rem;
}

@media(max-width: 998px){
    html{
        font-size: 5%;
    }

    body{
        overflow-x: auto;
        overflow-y: auto;
    }

    .dashbroad{
        min-width: 400rem;
    }
}

@media(max-width: 400px){
    html{
        font-size: 4%;
    }

    .dashbroad{
        min-width: 200rem;
    }
}