.searchbar-and-checkboxes{
    max-width: 1200rem;
    min-width: 1200rem;
    position: relative;
    margin: 0 auto;
}

.searchbar-and-checkboxes-1{
    display: table;
    color: #3d4152;
    font-weight: 500;
    height: 40rem;
    font-size: 14rem;
    position: absolute;
    bottom: 50rem;
    width: 538rem;
    transform: translate3d(0,72rem,0);
    transition: transform .2s ease-in-out;
    pointer-events: auto;
    left: 250rem;
}

.searchbar-and-checkboxes-1 .favourite{
    float: right;
    display: table;
    table-layout: fixed;
    box-shadow: 0 3rem 15rem 0 rgb(40 44 63 / 10%);
    border: 1rem solid rgba(0,0,0,.04);
    height: 40rem;
    background-color: #fff;
    margin-right: 22rem;
}

.searchbar-and-checkboxes-1 .favourite .name{
    display: table-cell;
    vertical-align: middle;
    padding-right: 15rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: color .2s ease-in-out;
    will-change: color;
}

.searchbar-and-checkboxes-1 .favourite .name:hover{
    color: red;
}

.searchbar-and-checkboxes-1 .favourite .checkbox-div{
    display: table-cell;
    vertical-align: top;
    padding-top: 11rem;
    text-align: right;
    width: 41rem;
}

.searchbar-and-checkboxes-1 .favourite .checkbox-div label{
    margin-right: 10rem;
    width: 16rem;
    height: 16rem;
    position: relative;
    display: inline-block;
    cursor: default;
}

.searchbar-and-checkboxes-1 .veg-or-nonveg{
    float: right;
    display: table;
    table-layout: fixed;
    box-shadow: 0 3rem 15rem 0 rgb(40 44 63 / 10%);
    border: 1rem solid rgba(0,0,0,.04);
    height: 40rem;
    background-color: #fff;
    margin-right: 22rem;
}

.searchbar-and-checkboxes-1 .veg-or-nonveg .checkbox-div{
    display: table-cell;
    vertical-align: top;
    padding-top: 11rem;
    text-align: right;
    width: 41rem;
}
.searchbar-and-checkboxes-1 .veg-or-nonveg .checkbox-div label{
    margin-right: 10rem;
    width: 16rem;
    height: 16rem;
    position: relative;
    display: inline-block;
    cursor: default;
}

.searchbar-and-checkboxes-1 .veg-or-nonveg .name{
    display: table-cell;
    vertical-align: middle;
    padding-right: 15rem;
    text-transform: capitalize;
    font-weight: 600;
    transition: color .2s ease-in-out;
    will-change: color;
}

.searchbar-and-checkboxes-1 .veg-or-nonveg .name:hover{
    color: green
}

/* .searchbar-and-checkboxes-1 .checkbox{
    padding: 10rem 10rem 10rem 10rem;
} */

.searchbar-and-checkboxes-1 .searchbar{
    width: 240rem;
    display: table;
    table-layout: fixed;
    box-shadow: 0 3rem 15rem 0 rgb(40 44 63 / 10%);
    border: 1rem solid rgba(0,0,0,.04);
    height: 40rem;
    background-color: #fff;
}

.searchbar-and-checkboxes-1 .searchbar .searchbar-1{
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    height: 100%;
}

.searchbar-and-checkboxes-1 .searchbar .searchbar-1 input{
    display: inherit;
    padding-left: 20rem;
    border: none;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    vertical-align: middle;
    width: 80%;
    height: 22rem;
    line-height: 22rem;
    font-weight: 600;
    position: relative;
    top: -1rem;
    caret-color: #fc8019;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
}

.searchbar-and-checkboxes-1 .searchbar .searchbar-1 input:focus{
    outline: none;
}

.searchResult-name {
    color: orange;
    font-weight: bold;
    font-size: 30rem;
    padding: 0rem 0rem 10rem 0rem;
}