.details {
    display: flex;
    background-color: #000000;
    min-height: 250rem;
    padding-left: 200rem;
    padding-right: 200rem;
}

.details .image {
    padding-top: 40rem;
    padding-bottom: 40rem;
}

.image img {
    width: 250rem;
    height: 165rem;
}

.details .name {
    color: #ffffff;
    font-size: 32rem;
    font-weight: lighter;
}

.dashbroad {
    padding: 40rem 50rem 40rem 50rem;
    min-width: 600rem;
}

.dashbroad .typeOfFood {
    color: #a0a0a0;
    padding: 13rem 0 0 0;
    font-size: 16rem;
}

.dashbroad .landmark {
    color: #a0a0a0;
    padding: 13rem 0 0 0;
    font-size: 13rem;
}

.otherDetails {
    padding: 16rem 0 0 0;
    display: flex;
}

.r1 {
    color: #ffffff;
    padding: 5rem 0 8rem 0;
    float: left;
    font-size: 16rem;
}

.r2 {
    color: #a0a0a0;
    float: left;
    clear: left;
    font-size: 13rem;
}

.rating {
    padding-right: 15rem;
}

.time {
    padding: 0 15rem 0 15rem;
}

.cost {
    padding: 0 15rem 0 15rem;
}

.offer-padding {
    width: 298rem;
    padding: 74rem 0 48rem;
    height: 100%;
}

.offer {
    border: 1rem solid rgba(255, 255, 255, 0.3);
    transform: translateZ(0);
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.offer .name {
    background-color: #000000;
    color: white;
    font-size: 20rem;
    font-weight: 500;
    display: inline-block;
    padding-right: 10rem;
    padding-bottom: 10rem;
    text-transform: uppercase;
    position: absolute;
    top: -13rem;
    left: -6rem;
}

.list {
    color: #dedede;
    padding: 30rem 30rem 30rem 30rem;
}

.list li {
    list-style: none;
    font-size: 14rem;
    padding: 5rem 0 0 5rem;
}
