nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200rem;
    padding-right: 200rem;
    min-height: 8vh;
}

.rightSide {
    display: flex;
}

.logo {
    color: #ff8000;
    text-transform: uppercase;
    letter-spacing: 5rem;
    font-size: 20rem;
}

.location {
    color: #3d4152;
    padding-left: 16rem;
    font-size: 16rem;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.nav-link li a:hover {
    color: orange;
}

.nav-link li {
    list-style: none;
}

.nav-link li a {
    color: #3d4152;
    text-decoration: none;
    letter-spacing: 2rem;
    font-size: 16rem;
}

.nav-link li a .cartCount {
    color: orange;
    text-align: center;
}

.toggleButton {
    position: relative;
    width: 50rem;
    height: 25rem;
    border-radius: 12.5rem;
    transition: background 0.2s;
    cursor: pointer;
}

.greenToggle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 25rem;
    width: 25rem;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 12.5rem;
    transition: transform 0.2s;
}

.greenToggle {
    background-color: #60b246;
}

.redToggle {
    background-color: #f5424e;
}

.redToggle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 25rem;
    width: 25rem;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 12.5rem;
    transition: transform 0.2s;
    transform: translateX(25rem);
}
