.breadCrumbs {
    display: flex;
    color: #93959f;
    padding-left: 200rem;
    padding-right: 200rem;
    height: 30rem;
    font-size: 13rem;
    background-color: #f5f5f5;
    align-items: center;
}

.breadCrumbs--dark {
    color: #3d4152;
    padding-left: 5rem;
}
