.cart{
    padding: 0 0 0 0rem;
}

.cart .cart_name .cart1{
    color: #3D3C3C;
    font-size: 30rem;
    font-weight: bold;
}

.cart .cart_name .cart2{
    color: #686b78;
    clear: left;
    padding: 10rem 0 0 0;
    font-size: 16rem;
}

.cart .cart_items {
    max-height: 225rem;
    overflow-y: scroll;
}

.cart .subTotal{
    display: flex;
    padding: 30rem 0 0 0;
    font-size: 16rem;
    /* justify-content: center; */
}

.cart .subTotal .price{
    color: #3d4152;
    /* padding-left: 150rem; */
    width: 45%;
    text-align: right;
    font-size: 16rem;
    font-weight: 600;
}

.cart .subTotal .sub .s1{
    color: #3d4152;
    font-weight: 600;
}

.cart .subTotal .sub .s2{
    color: #7e808c;
    font-size: 13rem;
    font-weight: 300;
    margin: 2rem 0 0 0;
}

.cart .cart_items .cart_item{
    font-size: 14rem;
}

.cart_name .cart3 {
    color: #7e808c;
    font-size: 30rem;
}

.cartEmptyImage img{
    padding: 20rem 0rem 0rem 0rem;
    width: 275rem;
    height: 200rem;
}