.single-item {
    display: flex;
    padding: 35rem 0 35rem 0;
    font-size: 16rem;
}

.single-item__details {
    width: 480rem;
    padding-right: 20rem;
    justify-content: flex-start;
}

.single-item .right {
    justify-content: flex-end;
}

.single-item__veg {
    color: green;
}

.single-item__nonveg {
    color: red;
}

.single-item__food-name {
    padding: 10rem 0 0 0;
    color: #282c3f;
}

.single-item__food-price {
    padding: 10rem 0 0 0;
    color: #282c3f;
}

.single-item__combo {
    padding: 10rem 0 0 0;
    color: rgba(40, 44, 63, 0.45);
}

.single-item__image-and-button {
    justify-content: flex-end;
}

.single-item__image img {
    width: 120rem;
    height: 100rem;
    border-radius: 10rem;
    float: right;
}

.single-item__button {
    color: #60b246;
    width: 100rem;
    height: 34rem;
    transform: translate(10rem, 75rem);
}

.single-item__button .buttonSearch {
    color: #60b246;
    width: 100rem;
    height: 34rem;
    transform: translate(10rem, 75rem);
}

.single-item__button .add-and-sub-button {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1rem solid #d4d5d9;
    border-radius: 5rem;
    background-color: white;
    text-align: center;
    line-height: 30rem;
    font-size: 14rem;
}

.single-item__button .buttonSearch .add-and-sub-button {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1rem solid #d4d5d9;
    border-radius: 5rem;
    background-color: white;
    text-align: center;
    line-height: 30rem;
    font-size: 14rem;
}

.single-item__button .add-and-sub-button .minus {
    padding: 0rem 20rem 0rem 20rem;
    cursor: pointer;
}

.single-item__button .buttonSearch .add-and-sub-button .minus {
    padding: 0rem 20rem 0rem 20rem;
    cursor: pointer;
}

.single-item__button .add-and-sub-button .plus {
    padding: 0rem 20rem 0rem 20rem;
    cursor: pointer;
}
.single-item__button .buttonSearch .add-and-sub-button .plus {
    padding: 0rem 20rem 0rem 20rem;
    cursor: pointer;
}

.line {
    border-bottom: 0.5rem solid #d4d5d9;
    height: 1rem;
    padding: 0 12rem;
    margin: 20rem 0;
}

.single-item__button .buttonSearch .add:hover {
    box-shadow: 0 3rem 15rem 0 rgb(40 44 63 / 20%);
}

.single-item__button .add-and-sub-button:hover {
    box-shadow: 0 3rem 15rem 0 rgb(40 44 63 / 20%);
}

.single-item__button .buttonSearch .add-and-sub-button:hover {
    box-shadow: 0 3rem 15rem 0 rgb(40 44 63 / 20%);
}
