.add{
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    border: 1rem solid #d4d5d9;
    border-radius: 5rem;
    background-color: white;
    text-align: center;
    line-height: 30rem;
    font-size: 14rem;
}

.add:hover{
    box-shadow: 0 3rem 15rem 0 rgb(40 44 63 / 20%);
<<<<<<< HEAD
}
=======
}
>>>>>>> c43f1f5b6ce2e6b96d8799fbe491749cab12fb9f
