.cart-item {
    display: flex;
    padding: 35rem 0 0 0;
}

.cart-item__veg {
    color: green;
    width: 25rem;
}

.cart-item__nonveg {
    color: red;
    width: 25rem;
}

.cart-item__dishName {
    padding: 0 20rem 0 5rem;
    max-width: 150rem;
}

.cart-item__price {
    float: right;
    padding: 0 0 0 5rem;
    align-items: center;
    width: 35rem;
}
