.menu-item-and-cart .category {
    min-width: 250rem;
    max-width: 250rem;
}

.menu-item-and-cart .category li {
    list-style: none;
    text-align: right;
    padding: 3rem 10rem 3rem 0rem;
}

.menu-item-and-cart .category li a:hover {
    color: orange;
}

.menu-item-and-cart .category li a {
    text-decoration: none;
    color: #808080;
    font-size: 15rem;
}
